# Más Allá de la Etiqueta 
### Analísis sobre Precios y Regiones Vinícolas

"En este análisis exploratorio de datos (EDA), examinaremos la información disponible sobre vinos españoles para identificar patrones relevantes relacionados con sus características y precios. Prestaremos especial atención a las denominaciones de origen (D.O.) y las regiones, buscando comprender cómo estos factores podrían influir en el mercado vinícola. Además, exploraremos potenciales oportunidades en regiones menos reconocidas para aportar perspectivas útiles y fundamentadas."

## Hipotesis Principal

### La relación calidad-precio es el principal factor que influye en las calificaciones y reseñas positivas de los vinos en España.

### Hipotesis secundarias

Hipotesis 2 : Los vinos provenientes de ciertas regiones específicas de España (por ejemplo, La Rioja o Ribera del Duero) tienden a recibir mejores calificaciones debido a su reputación histórica y calidad percibida.


Hipotesis 3 : Los vinos de regiones menos conocidas pueden destacar por su autenticidad y una buena relación calidad-precio.


Hipotesis 4 : Los vinos de bodegas más reconocidas obtienen mejores calificaciones, independientemente del precio.

hipotesis 5 : el equilibrio entre acidez y cuerpo en un vino suele asociarse con mejores valoraciones y precios más altos.

#### Interrogantes que motivan nuestro EDA

- Influye el nombre de una bodega, en la idea que tienen las personas sobre la calidad  un vino?

- Influye el precio de una botella de vino en la valoracion que puede tener el consumidor?

- Influye quizás la zona de donde proviene el vino o la uva en el precio de la botella o esta relacionado auténticamente con los costes de produccion? es solo fama?

- La milla de oro del vino español tiene garantizado un mercado, solo por ser la milla de oro ?

- El precio del mercado, lo famoso que es el nombre del vino, las reseñas que tiene, el precio que tiene y si ese     precio es barato o caro; permite a la población conocer el vino  o hacerlo mas exclusivo?

- La reputación de ciertas regiones vinícolas en España mejora la percepción de calidad, influye en el etiquetado y estimula la creación de más marcas de vino

- se consume mas vino con los años?

- se consume mas vino por meses o por época del año?

- se consume mas vino los dias de semana, fines de semana o por horas del dia? comida o cena

In [2]:
import pandas as pd

In [14]:
vinos_espana= pd.read_csv("wines_SPA.csv", sep = ",")
fuente_1 = "https://www.kaggle.com/code/sasakitetsuya/spanish-wine-analysis-clustering-wine-map"

consumo_espana= pd.read_csv("totales_vino_y_otros.csv", sep = ";")
fuente_2 = "https://datos.gob.es/en/catalogo?q=informe_consumo_nacional_datos_noviembre_2024"

consumo_semanal = pd.read_csv('bebidas_c_semanal.csv', sep = ";")
fuente_3 = "https://datos.gob.es/en/catalogo?q=informe_bebidas_alcoholicas"

In [ ]:
# Dataset de vinos españoles 

vinos_espana.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

In [ ]:
vinos_espana.shape

(7500, 11)

In [57]:
vinos_espana.columns

Index(['winery', 'wine', 'year', 'rating', 'num_reviews', 'country', 'region',
       'price', 'type', 'body', 'acidity'],
      dtype='object')

In [ ]:
consumo_espana= pd.read_csv("totales_vino_y_otros.csv", sep = ";")
consumo_espana.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6120 entries, 0 to 6119
Data columns (total 4 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Códigos de gasto con cantidad física  6120 non-null   object
 1   Cantidades medias consumidas          6120 non-null   object
 2   Periodo                               6120 non-null   int64
 3   Total                                 6120 non-null   object
dtypes: int64(1), object(3)
memory usage: 191.4+ KB

In [ ]:
# Dataset de consumo anual de vino y otros en españa
consumo_espana.iloc[4970:4975]

,Códigos de gasto con cantidad física,Cantidades medias consumidas,Periodo,Total
4970,02.1.2.1 T Vinos de uva (L),Cantidad consumida total (miles de unidades),2021,453.380
4971,02.1.2.1 T Vinos de uva (L),Cantidad consumida total (miles de unidades),2020,479.431
4972,02.1.2.1 T Vinos de uva (L),Cantidad consumida total (miles de unidades),2019,445.608
4973,02.1.2.1 T Vinos de uva (L),Cantidad consumida total (miles de unidades),2018,393.061
4974,02.1.2.1 T Vinos de uva (L),Cantidad consumida total (miles de unidades),2017,464.184

In [ ]:
# Dataset de consumo semanal de bebidas alcoholicas en españa

import pandas as pd
consumo_semanal = pd.read_csv('bebidas_c_semanal.csv', sep = ";")
consumo_semanal.iloc[4:8]

          Sexo Bebidas alcohólicas         Distribución semanal  Total
4  Ambos sexos        Vinos o cava                        TOTAL    100
5  Ambos sexos        Vinos o cava  Solo el fin de semana (V-D)  46,59
6  Ambos sexos        Vinos o cava      Solo entre semana (L-J)   2,58
7  Ambos sexos        Vinos o cava        Ambos indistintamente  50,83